@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to the Home Page</h1>

@if (Model.User != null)
{
    <div>
        <h2>Hello, @Model.CurrentUser.FirstName @Model.CurrentUser.LastName!</h2>
        <p>Email: @Model.CurrentUser.Email</p>
        <p>Gender: @Model.CurrentUser.Gender</p>
        <p>NRIC: @Model.CurrentUser.EncryptedNRIC</p>
        <p>About Me: @Model.CurrentUser.WhoAmI</p>

        <p><a href="/ChangePassword">Change Password</a></p>


    </div>
}
else
{
    <div>
        <h2>Welcome, Ace_Something!</h2>
        <p>Please <a asp-page="Login">log in</a> to access your details.</p>
    </div>
}
